{% extends "layout.html" %}

{% block content %}
<main id="account-recover-password">
  <div class="container-fluid">
    <div class="min-vh-100 py-5 d-flex align-items-center">
      <div class="w-100">
        <div class="row justify-content-center">
          <div class="col-12">
            <h1 class="card-title text-center">{{ SITE_SETTINGS.name }}</h1>
          </div>
          <div class="col-sm-8 col-lg-3">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Altere sua Senha</h3>
                <h6 class="card-subtitle text-muted">Informe uma nova senha para sua conta</h6>
                <form class="needs-validation row g-3 mt-3" method="POST" novalidate>
                  {{ form.csrf_token }}
                  <div class="col-12">
                    {{ form.password.label(class_='form-label') }}
                    <div class="input-group has-validation">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                      {{ form.password(class_='form-control' if not form.password.errors else 'form-control is-invalid', size=16, maxlength=16, min=4, max=16, placeholder=form.password.label.text) }}
                      {% if form.password.errors %}
                      {% for error in form.password.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-12">
                    {{ form.confirm.label(class_='form-label') }}
                    <div class="input-group has-validation">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                      {{ form.confirm(class_='form-control' if not form.confirm.errors else 'form-control is-invalid', size=16, maxlength=16, min=4, max=16, placeholder=form.confirm.label.text) }}
                      {% if form.confirm.errors %}
                      {% for error in form.confirm.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="d-grid">
                    {{ form.submit(class_='btn btn-primary btn-block') }}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}